@model Salary


<section class="Bouns-section">



	<div class="container">

		<form method="post">


			<input hidden type="text" asp-for="@Model.EmployeeId" class="form-control" />


			<div class="form-group">
				<label for="Amount">Amount</label>
				<input type="text" name="Amount" class="form-control" />

			</div>

		</form>


	</div>
</section>
