@model EmployeeDetailsViewModel;
@{

	ViewBag.title = "Employee management";
	ViewBag.cardTitle = "View Employee";
}




<section class="Edit-Employee">
	<div class="container">
		
			<input hidden asp-for="Employee.EmployeeId" />
			<div class="form-group">
				<label asp-for="Employee.Name">Employee Name</label>
				<input type="text" asp-for="Employee.Name" class="form-control" />
				<span asp-validation-for="Employee.Name"></span>
			</div>

			<div class="form-group">
				<label asp-for="Employee.gender">Employee gender</label>
				<input type="text" asp-for="Employee.gender" class="form-control" />
				<span asp-validation-for="Employee.gender"></span>
			</div>


			<div class="form-group">
				<label asp-for="Employee.Email">Employee Email</label>
				<input type="text" asp-for="Employee.Email" class="form-control" />
				<span asp-validation-for="Employee.Email"></span>
			</div>


			<div class="form-group">
				<label asp-for="Employee.Phone">Employee Phone</label>
				<input type="text" asp-for="Employee.Phone" class="form-control" />
				

			</div>

			<div class="form-group">
				<label asp-for="Employee.HireDate">Employee HireDate</label>
				<input type="text" asp-for="Employee.HireDate" class="form-control" />
			

			</div>

			<div class="form-group">
				<label asp-for="Employee.JobTitleId">Job TiTle</label>

				<input asp-for="Employee.JobTitle.JopName" class="form-control"/>

				

			</div>


			
			<div class="form-group">
				<label asp-for="Salary.MounthSalary">Employee Salary</label>
				<input type="text" asp-for="Salary.MounthSalary" class="form-control" />
				

			</div>

			<div class="form-group">
				<label asp-for="Salary.bonus">Employee this mounth Bonus !(need logic create)</label>
				<input type="text" asp-for="Salary.bonus" class="form-control" />
				
			</div>



		<div class="form-group">
			<label asp-for="EmployeeRate.Rate">Employee rate</label>
			<input type="text" asp-for="EmployeeRate.Rate" class="form-control" />
			

		</div>


	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

}
