@{
	
	ViewBag.title = "Video management";
	ViewBag.cardTitle = "Create Video";
}
@model Video;


<section class="Create-Benefit">
	<div class="container">
		<form method="post">

			<div class="form-group">
				<label asp-for="Title">Video Title</label>
				<input asp-for="Title"  class="form-control"/>
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>

			<label asp-for="category">Video category</label>

			<select  asp-for="category" class="form-control">
				<option disabled selected="" value="0">-- Select category</option>
				<option value="1">Training</option>
				<option value="2">RECIPE</option>


			</select>
			

			<div class="form-group">
				<label asp-for="Url">Video Url</label>
				<input asp-for="Url" class="form-control" />
				<span asp-validation-for="Url" class="text-danger"></span>
			</div>
		
			


			<div class="form-group">
				<button class="btn btn-primary"> Create </button>

			</div>


		</form>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	
}
