@{
   
    ViewBag.title = "Video management";
    ViewBag.cardTitle = "View Videos";
}
@model List<Video>
<section class="Video-table" style="width:100%">

    <div style="margin-bottom:10px;display:flex;justify-content:center">
        <a href="/Admin/Video/Create" class="btn btn-primary">Create</a>
    </div>



    <div class="container">

        <table id="VideoTable" style="width:100%" class="display  table table-striped">

            <thead>

                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>category</th>
                    <th>Url</th>
                    <th>operations</th>

                </tr>
            </thead>
            <tbody id="t-body">

                @for (int i = 0; i < Model?.Count(); i++)
                {
                    <tr>
                        <td>@Model[i].Id</td>
                        <td>@Model[i].Title</td>

                        @if (Model[i].category == 1)
                        {
                            <td>train</td>

                        }
                        else
                        {
                            <td>recpi</td>

                        }
                      
                        <td>@Model[i].Url</td>


                        <td>
                            <a href="/Admin/Video/Update/@Model[i].Id" class="btn btn-success">Update</a>
                            <button onclick="DeleteItem(@Model[i].Id.ToString())" class="btn btn-danger">Delete</button>

                        </td>

                    </tr>
                }



            </tbody>




        </table>

    </div>
</section>



@section Scripts {



    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/Video.js"></script>


}
