@using OnlineGym.Utilities
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Transformer GYM</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/adminlte.min.css">

    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet"  href="//cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">


</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/Client/Home" class="nav-link">Home</a>
      </li>
      
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">1</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
         
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">1</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

          <span class="dropdown-item dropdown-header">1 Notifications</span>

          <div class="dropdown-divider"></div>
          
          <a href="#" class="dropdown-item">

            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
     
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Admin/Dashboard/index" class="brand-link">
      <img src="/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">BRAND</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">@User.Identity.Name</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->


            
               <li class="nav-item">
                   <a href="/Client/Dashboard/PersonalInformation" class="nav-link">
                        <i class="fa-solid fa-user"></i>
                       <p>
                           Profile Information
                           <i class="right fas fa-angle-left"></i>
                       </p>
                   </a>
                   <ul class="nav nav-treeview">
                       <li class="nav-item">
                               <a href="/Client/Dashboard/PersonalInformation" class="nav-link">
                               <i class="far fa-circle nav-icon"></i>
                                            <p>Change General Info</p>
                           </a>
                       </li>
                       <li class="nav-item">
                               <a href=" \Identity\Account\Manage\Email" class="nav-link">
                               <i class="far fa-circle nav-icon"></i>
                               <p>Change Email </p>
                           </a>
                       </li>
                       <li class="nav-item">
                               <a href=" \Identity\Account\Manage\ChangePassword" class="nav-link">
                               <i class="far fa-circle nav-icon"></i>
                               <p>Change Password</p>
                           </a>
                       </li>
                   </ul>
               </li>


          @if (User.IsInRole(SD.AdminRole))
          {
              

               <li class="nav-item">
                   <a href="/Admin/Dashboard/Index" class="nav-link">
                       <i class="fas fa-tachometer-alt"></i>
                       <p>
                           Dashboard
               
                       </p>
                   </a>
               
               </li>
               
               
               <li class="nav-item">
                   <a href="/Admin/Employee/Index" class="nav-link">
                       <i class="fa-solid fa-user-tie"></i>
                       <p>
                           Employees
               
                       </p>
                   </a>
               
               </li>
               <li class="nav-item">
                   <a href="/Admin/Job/Index" class="nav-link">
                       <i class="fa-solid fa-user-doctor"></i>
                       <p>
                           Jobs
               
                       </p>
                   </a>
               
               </li>
               <li class="nav-item">
                   <a href="/Admin/Benefit/Index" class="nav-link">
                       <i class="fa-solid fa-meteor"></i>
                       <p>
                           Benefits
               
                       </p>
                   </a>
               
               </li>
               <li class="nav-item">
                   <a href="/Admin/Subscription/Index" class="nav-link">
                       <i class="fa-solid fa-diamond"></i>
                       <p>
                           Subscriptions
               
                       </p>
                   </a>
               
               </li>
               
               
               
               <li class="nav-item">
                   <a href="/Admin/Video/Index" class="nav-link">
                       <i class="fas fa-play"></i>
                       <p>
                           Videos
               
                       </p>
                   </a>
               
               </li>

                <li class="nav-item">
                    <a href="/Admin/Exercise/Index" class="nav-link">
                        <i class="fa-solid fa-dumbbell"></i>
                        <p>
                            Exercise

                        </p>
                    </a>

                </li>
               <li class="nav-item">
                   <a href="/Admin/Users/Index" class="nav-link">
                       <i class="fas fa-users"></i>
                       <p>
                           Users
               
                       </p>
                   </a>
               
               </li>
               
               
               <li class="nav-item">
                   <a href="/Admin/Order/Index" class="nav-link">
                       <i class="fas fa-inbox"></i>
                       <p>
                           Orders
               
                       </p>
                   </a>
               
               </li>
          }
          else if (User.IsInRole(SD.CoachRole))
          {

              
               <li class="nav-item">
                   <a href="/Coach/Dashboard/Index" class="nav-link">
                       <i class="fas fa-tachometer-alt"></i>
                       <p>
                           Dashboard

                       </p>
                   </a>

               </li>

               <li class="nav-item">
                   <a href="/Coach/Exercise/Index" class="nav-link">
                       <i class="nav-icon fas fa-tachometer-alt"></i>
                       <p>
                           Exercise

                       </p>
                   </a>

               </li>
               <li class="nav-item">
                   <a href="/Coach/Video/Index" class="nav-link">
                       <i class="nav-icon fas fa-tachometer-alt"></i>
                       <p>
                           Videos

                       </p>
                   </a>

               </li>
               <li class="nav-item">
                   <a href="/Coach/TrainingPlan/Index" class="nav-link">
                       <i class="nav-icon fas fa-tachometer-alt"></i>
                       <p>
                           Plans

                       </p>
                   </a>

               </li>

               <li class="nav-item">
                   <a href="/Coach/Client/Index" class="nav-link">
                       <i class="nav-icon fas fa-tachometer-alt"></i>
                       <p>
                           Clients

                       </p>
                   </a>

               </li>
          }
          else if (User.IsInRole(SD.CustomerRole))
          {

                <li class="nav-item">
                                <a href="/Client/Dashboard/CurrentSubscription" class="nav-link">
                        <i class="fa-solid fa-user"></i>
                       <p>
                          Subscriptions
                           <i class="right fas fa-angle-left"></i>
                       </p>
                   </a>
                   <ul class="nav nav-treeview">
                       <li class="nav-item">
                               <a href="/Client/Dashboard/CurrentSubscription" class="nav-link">
                               <i class="far fa-circle nav-icon"></i>
                                            <p>Current Subscription</p>
                           </a>
                       </li>
                       <li class="nav-item">
                                        <a href="/Client/Dashboard/AllSubscription" class="nav-link">
                               <i class="far fa-circle nav-icon"></i>
                                            <p>Previous Subscriptions </p>
                           </a>
                       </li>
                                    <li class="nav-item">
                                        <a href=" \Identity\Account\Manage\ChangePassword" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                           <p>Offers Only for you</p>
                                        </a>
                                    </li>
                       <li class="nav-item">
                               <a href=" \Identity\Account\Manage\ChangePassword" class="nav-link">
                               <i class="far fa-circle nav-icon"></i>
                               <p>Gifts</p>
                           </a>
                       </li>
                   </ul>
               </li>
               <li class="nav-item">
                       <a href="/Client/Dashboard/Training" class="nav-link">
                       <i class="fa-solid fa-dumbbell"></i>
                       <p>
                           Training
                           <i class="right fas fa-angle-left"></i>
                       </p>
                   </a>
                   <ul class="nav nav-treeview">
                       <li class="nav-item">
                                        <a href="/Client/Dashboard/Training" class="nav-link">
                               <i class="far fa-circle nav-icon"></i>
                               <p>Curent Plan</p>
                           </a>
                       </li>
                       <li class="nav-item">
                                        <a href="/Client/Dashboard/AllPlans" class="nav-link">
                               <i class="far fa-circle nav-icon"></i>
                               <p>Previous Plans</p>
                           </a>
                       </li>
 
                   </ul>
               </li>
                     
               <li class="nav-item">
                       <a href="/Client/Dashboard/Training" class="nav-link">
                                    <i class="fa-solid fa-utensils"></i>
                       <p>
                                        Diet
                           <i class="right fas fa-angle-left"></i>
                       </p>
                   </a>
                   <ul class="nav nav-treeview">
                       <li class="nav-item">
                                        <a href="/Client/Dashboard/Training" class="nav-link">
                               <i class="far fa-circle nav-icon"></i>
                               <p>Curent Diet Plan</p>
                           </a>
                       </li>
                       <li class="nav-item">
                               <a href="/Client/Dashboard/AllTrainingPlans" class="nav-link">
                               <i class="far fa-circle nav-icon"></i>
                                            <p>Previous Diet Plans</p>
                           </a>
                       </li>
 
                   </ul>
               </li>

               <li class="nav-item">
                        <a href="/Client/Dashboard/CurrentMentors" class="nav-link">
                                    <i class="fa-solid fa-people-group"></i>
                       <p>
                                        Your Mentors
                           <i class="right fas fa-angle-left"></i>
                       </p>
                   </a>
                   <ul class="nav nav-treeview">
                       <li class="nav-item">
                                <a href="/Client/Dashboard/CurrentMentors" class="nav-link">
                               <i class="far fa-circle nav-icon"></i>
                               <p>Current Mentors</p>
                           </a>
                       </li>
                       <li class="nav-item">
                                        <a href="/Client/Dashboard/AllMentors" class="nav-link">
                               <i class="far fa-circle nav-icon"></i>
                                            <p>All Mentors</p>
                           </a>
                       </li>
 
                   </ul>
               </li>

          }


         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
        <partial name="_Toastr">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
                            <h1> @ViewBag.title</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/Client/Home">Home</a></li>
              <li class="breadcrumb-item active">Blank Page</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">@ViewBag.cardTitle</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
        
          @RenderBody()
        </div>
        <!-- /.card-body -->
    
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.2.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/js/adminlte.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="//cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @await RenderSectionAsync("Scripts", required: false)

  

</body>
</html>
