@{
    Layout = "_DashBoard";

    ViewBag.title = "Subscription management";
    ViewBag.cardTitle = "View Subscriptions";
}
@model List<Subscription>


<link rel="stylesheet" href="~/Admin/Css/Subscription.css">

<section class="Subscription-table">

    <div style="margin-bottom:10px;display:flex;justify-content:center">
        <a href="/Admin/Subscription/Create" class="btn btn-primary">Create</a>
        <div id="diamond" class="state0">
            <span id="percentage">0/3</span>
        </div>
    </div>
 


    <div class="container">
       
        <table id="SubscriptionTable" class="display table">

            <thead>

                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>DurationDays</th>
                    <th>operations</th>

                </tr>
            </thead>
            <tbody id="t-body">

                @for (int i = 0; i < Model?.Count(); i++)
                {
                    <tr>
                        <td>@Model[i].SubscriptionId</td>
                        <td>@Model[i].SubscriptionName</td>
                        <td>@Model[i].Price</td>
                        <td>@Model[i].DurationDays</td>
                      

                        <td>
                            @if (Model[i].IsActive == false)
                            {
                                <button type="button" id="usebtn[@Model[i].SubscriptionId]" onclick="ChangeState(`@Model[i].SubscriptionId`)" class="btn use">USE</button>

                            }
                            else
                            {
                                <button type="button" id="usebtn[@Model[i].SubscriptionId]" onclick="ChangeState(`@Model[i].SubscriptionId`)" class="btn disuse">DISUSE</button>


                            }
                            <a href="/Admin/Subscription/Details/@Model[i].SubscriptionId" class="btn btn-info">More</a>
                            <a href="/Admin/Subscription/Update/@Model[i].SubscriptionId" class="btn btn-success">Update</a>
                        </td>

                    </tr>
                }



            </tbody>




        </table>

    </div>
</section>



@section Scripts {



    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/Subscription.js"></script>
 
    <script>
        start(0);
    </script>
}
