
@model int
<div class="container row" style="background-color:white">

	<div class="col-12" id="orderConfirmation">
		<h3>Order Confirmation</h3>
		<br />
		<hr />
		<h2>Your order Number @Model Has Been Successfuly Placed</h2>
	</div>

</div>