@{
    Layout = "_DashBoard";
}
@model List<TrainingPlan>

<div class="container" style="display:flex;flex-wrap:wrap;justify-content: space-between;">

    @{
        
        foreach (var Item in Model)
        {
            <a style="width:45%;height:100px;" href="/Client/DashBoard//@Item.Id" >
                <div class="card" style="width:100%;height:100%;border-radius:10px">
                    @{
                        <div class="card-body" style="background-image:url(/GymImages/SubscriptionImages/Subscription_1.jpg);border-radius:10px">
                            <p class="card-text">Start Date :@Item.Started.Value.Date </p>
                            <p class="card-text">End Date :@Item.Started.Value.AddDays(27).Date </p>
                        </div>
                    }




                </div>
            </a>

        }
    }

</div>

@section Scripts {



    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}
